!!! 5
html
  head
    title Reddit Karma Tracker
    link(type='text/css', rel='stylesheet', href='ui/bootstrap/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='ui/stylesheets/common.css')
    //script(src='ui/vendor/live.js')
    meta(name="viewport",content="width = device-width, initial-scale = 1.0")
  body
    a(href="http://github.com/jgallen23/reddit-karma")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67",alt="Fork me on GitHub")
    header
      h1 
        a(href="/reddit-karma/") Reddit Karma Tracker
    form.well(method='GET', action='.')
      input(type='text', name='user', placeholder="Reddit username")
      input.btn-primary(type='submit')

    div#user
    div#links

    footer Developed by Greg Allen&nbsp;(
      a(href="http://twitter.com/jgaui", target="_blank") @jgaui
      ) | 
      a(href="https://github.com/jgallen23/reddit-karma") Source
      \&nbsp;| 
      a(href="https://github.com/jgallen23/reddit-karma/issues") Issues



    div#templates
      script(type='text/html', data-template='user')
        include templates/user
      script(type='text/html', data-template='links')
        include templates/links

    script(src='ui/vendor/jquery.min.js')
    script(src='ui/scripts/template.js')
    script(src='ui/scripts/querystring.js')
    script(src='ui/scripts/app.js')
