div.hero-unit
  h2.name {!= user.name !}
  div.karma Link Karma: 
    strong {!= user.link_karma !}
      span.delta.label {!= user.link_karma_delta !}
  div.karma Comment Karma: 
    strong {!= user.comment_karma !}
      span.delta.label {!= user.comment_karma_delta !}
